<!-- 之所以要这样写，主要是为了打包方便，利用 grunt task useminPrepare-->
<% if (theme=="blue-classic") { %>
<!-- build:css ../../styles/theme/blue-classic.css -->
<link rel="stylesheet" href="../../styles/blue-classic/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/blue-classic/blog.css">
<!-- endbuild -->
<% } else if (theme=="spring-tones") { %>
<!-- build:css ../../styles/theme/spring-tones.css -->
<link rel="stylesheet" href="../../styles/spring-tones/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/spring-tones/blog.css">
<!-- endbuild -->
<% } else if (theme=="elegant-style") { %>
<!-- build:css ../../styles/theme/elegant-style.css -->
<link rel="stylesheet" href="../../styles/elegant-style/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/elegant-style/blog.css">
<!-- endbuild -->
<% } else if (theme=="romantic-feelings") { %>
<!-- build:css ../../styles/theme/romantic-feelings.css -->
<link rel="stylesheet" href="../../styles/romantic-feelings/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/romantic-feelings/blog.css">
<!-- endbuild -->
<% } else if (theme=="pink-mood") { %>
<!-- build:css ../../styles/theme/pink-mood.css -->
<link rel="stylesheet" href="../../styles/pink-mood/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/pink-mood/blog.css">
<!-- endbuild -->
<% } else if (theme=="grass-color") { %>
<!-- build:css ../../styles/theme/grass-color.css -->
<link rel="stylesheet" href="../../styles/grass-color/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/grass-color/blog.css">
<!-- endbuild -->
<% } else if (theme=="sea-tones") { %>
<!-- build:css ../../styles/theme/sea-tones.css -->
<link rel="stylesheet" href="../../styles/sea-tones/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/sea-tones/blog.css">
<!-- endbuild -->
<% } else if (theme=="nature-hues") { %>
<!-- build:css ../../styles/theme/nature-hues.css -->
<link rel="stylesheet" href="../../styles/nature-hues/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/nature-hues/blog.css">
<!-- endbuild -->
<% } else if (theme=="polar-hues") { %>
<!-- build:css ../../styles/theme/polar-hues.css -->
<link rel="stylesheet" href="../../styles/polar-hues/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/polar-hues/blog.css">
<!-- endbuild -->
<% } else if (theme=="global-spectrum") { %>
<!-- build:css ../../styles/theme/global-spectrum.css -->
<link rel="stylesheet" href="../../styles/global-spectrum/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/global-spectrum/blog.css">
<!-- endbuild -->
<% } else if (theme=="mountains-fog") { %>
<!-- build:css ../../styles/theme/mountains-fog.css -->
<link rel="stylesheet" href="../../styles/mountains-fog/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/mountains-fog/blog.css">
<!-- endbuild -->
<% } else if (theme=="flora-brights") { %>
<!-- build:css ../../styles/theme/flora-brights.css -->
<link rel="stylesheet" href="../../styles/flora-brights/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/flora-brights/blog.css">
<!-- endbuild -->
<% } else if (theme=="purple-rose") { %>
<!-- build:css ../../styles/theme/purple-rose.css -->
<link rel="stylesheet" href="../../styles/purple-rose/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/purple-rose/blog.css">
<!-- endbuild -->
<% } else if (theme=="feathered-hues") { %>
<!-- build:css ../../styles/theme/feathered-hues.css -->
<link rel="stylesheet" href="../../styles/feathered-hues/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/feathered-hues/blog.css">
<!-- endbuild -->
<% } else if (theme=="flora-tones") { %>
<!-- build:css ../../styles/theme/flora-tones.css -->
<link rel="stylesheet" href="../../styles/flora-tones/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/flora-tones/blog.css">
<!-- endbuild -->
<% } else if (theme=="blue-ocean") { %>
<!-- build:css ../../styles/theme/blue-ocean.css -->
<link rel="stylesheet" href="../../styles/blue-ocean/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/blue-ocean/blog.css">
<!-- endbuild -->
<% } else if (theme=="purple-red") { %>
<!-- build:css ../../styles/theme/purple-red.css -->
<link rel="stylesheet" href="../../styles/purple-red/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="../../styles/purple-red/blog.css">
<!-- endbuild -->
<% } %>
