<h3 class="page-header">{{header}}</h3>
<div class="animate-show ng-hide hf-callout hf-callout-info" ng-show="$parent.showPublishInfo">
  <span>{{$parent.publishInfo}}</span>
  <a ng-href="{{article.articleLink}}" target="_blank" class="margin-left-md">查看文章</a>
</div>

<form name="articleForm" method="post" article-validator="validator">
<div class="row">
<div class="col-md-9">
  <div class="form-group">
    <label for="title"><i class="required">*</i> 文章标题</label>
    <input type="text" id="title" name="title" class="form-control" ng-model="article.title"
           placeholder="在此输入标题" autocomplete="off" required maxbyteslength="400" maxlength="400">
  </div>
  <div class="form-group">
    <label>文章内容</label>
    <textarea id="content" name="content" ui-tinymce="tinymceOptions"  ng-model="article.content" class="sr-only"></textarea>
  </div>
</div>
<!--.col-md-9-->

<div class="col-md-3">
  <!--发布 start-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">发布</h3>
    </div>
    <div class="panel-body">
      <!-- FIXME 暂且不做 -->
      <p style="display: none;">
        <button class="btn btn-success" type="button">预览</button>
      </p>
      <!--公开度 start-->
      <div class="article-effect" ng-controller="PublicityCtrl">
        <div>
          <span class="glyphicon glyphicon-eye-open"></span>
          <span>公开度：</span>
          <strong>{{$parent.article.publicityStatusName}}</strong>
          <a href=""  ng-click="publicityPanel=true;" ng-hide="publicityPanel">编辑</a>
        </div>

        <div class="animate-show ng-hide" ng-show="publicityPanel">
          <ul class="list-unstyled">
            <li class="radio">
              <label><input type="radio" name="publicityStatus" ng-model="$parent.article.publicityStatus" value="public"/> 公开 </label>

              <div class="checkbox margin-left-lg" ng-show="show.top">
                <label><input type="checkbox" name="top" ng-model="$parent.article.top"> 将文章置于首页顶端</label>
              </div>
            </li>
            <li class="radio form-inline margin-top-md">
              <label><input type="radio" name="publicityStatus" ng-model="$parent.article.publicityStatus" value="protected"/> 密码保护 </label>

              <div class="form-group margin-top-md" ng-show="show.protectedPassword">
                <lable for="protectedPassword">密码：</lable>
                <input type="text" class="form-control input-sm" id="protectedPassword" name="protectedPassword"
                       ng-model="$parent.article.protectedPassword"/>
              </div>
            </li>
            <li class="radio">
              <label><input type="radio" name="publicityStatus" ng-model="$parent.article.publicityStatus" value="private"> 私密 </label>
            </li>
          </ul>
          <p>
            <button class="btn btn-info btn-sm" type="button" ng-click="setPublicityStatus()">确定</button>
            <a href="" ng-click="publicityPanel=false;">取消</a>
          </p>
        </div>
      </div>
      <!--公开度 end-->

      <!--发布方式 start-->
      <div class="article-effect" ng-controller="PublishTypeCtrl">
        <div>
          <span class="glyphicon glyphicon-calendar"></span>
          <span>发布方式：</span>
          <strong>{{$parent.article.publishTypeName}}</strong>
          <a href="" ng-click="publishTypePanel=true;" ng-hide="publishTypePanel">编辑</a>
        </div>
        <div class="animate-show ng-hide" ng-show="publishTypePanel">
          <ul class="list-unstyled">
            <li class="radio">
              <label><input type="radio" name="publishType" ng-model="$parent.article.publishType" value="immediate"/> 立即发布 </label>
            </li>
            <li class="radio">
              <label><input type="radio" name="publishType" ng-model="$parent.article.publishType" value="delay"/> 定时发布 </label>

              <div class="animate-show ng-hide" ng-show="showPublishDate">
                <div class="form-group margin-top-md">
                  <div class='input-group' id="dateTimePicker">
                    <input type='text' class="form-control input-sm" data-date-format="YYYY-MM-DD HH:mm"
                           id="publishDate" name="publishDate" ng-model="$parent.article.publishDate"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <p>
            <button class="btn btn-info btn-sm" type="button" ng-click="setPublishTypeStatus()">确定</button>
            <a href="" ng-click="publishTypePanel=false;">取消</a>
          </p>
        </div>
      </div>
      <!--发布方式 end-->

      <!--是否生成目录 start-->
      <div class="article-effect" >
        <div>
          <span class="glyphicon glyphicon-folder-close"></span>
          <span>生成目录：</span>
          <label class="radio-inline">
            <input type="radio" value="1"  ng-model="article.catalogue" name="catalogue"> 是
          </label>
          <label class="radio-inline">
            <input type="radio" value="0"  ng-model="article.catalogue" name="catalogue"> 否
          </label>
        </div>
      </div>
      <!--是否生成目录 end-->

    </div>

    <div class="panel-footer">
      <button class="btn btn-primary ng-hide" type="submit" ng-show="article.status === 'draft'">发布</button>
      <button class="btn btn-primary ng-hide" type="button" ng-show="article.status !== 'draft'" ng-click="update('modified');" >更新</button>
      <button class="btn btn-default ng-hide" type="button" ng-click="update('draft');" ng-show="article.status==='draft'">保存草稿</button>
    </div>
  </div>
  <!--发布 end-->

  <!-- 文章类型 start -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">文章类型</h3>
    </div>
    <div class="panel-body">
      <div class="radio">
        <label><input type="radio" name="type" ng-model="article.type" value="richText"> 富文本编辑器 </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="type" ng-model="article.type" value="markdown"> Markdown 编辑器</label>
      </div>
    </div>
  </div>
  <!--文章类型 end-->

  <!-- 文章分类 start -->
  <div class="panel panel-default" ng-controller="ArticleCategoryCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">分类目录</h3>
    </div>
    <div class="panel-body">
      <tabset>
        <tab heading="所有分类目录">
          <div class="category-list">
            <div class="checkbox" ng-repeat="category in categories" ng-style="category.style">
              <label><input type="checkbox" name="category" ng-model="category.checked" ng-change="changeCategory(category,'all')"/>{{category.name}}</label>
            </div>
          </div>
        </tab>

        <tab>
          <tab-heading>最常用</tab-heading>
          <div class="category-list">
            <div class="checkbox" ng-repeat="category in frequentCategories">
              <label><input type="checkbox" name="category" ng-model="category.checked" ng-change="changeCategory(category,'frequent')"/>{{category.name}}</label>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="margin-top-md">
        <a href="" ng-click="showAddCategory = !showAddCategory;"> <span class="fa fa-plus"></span> 添加新分类目录</a>
      </div>

      <div class="margin-top-md animate-show ng-hide" ng-show="showAddCategory">

        <div class="well-sm" alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</div>
        <div class="form-group">
          <input type="text" placeholder="分类目录" id="category" name="category" ng-model="category.name"
                 class="form-control input-sm"/>
        </div>
        <div class="form-group">
          <select id="categoryParent" name="categoryParent" ng-model="category.parentCategory" class="form-control input-sm"
                  ng-options="c.alias for c in categories">
            <option value="">&mdash; 父级分类目录 &mdash;</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-info btn-sm" type="button" ng-click="addCategory()">添加</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 文章分类 end -->

  <!--标签 start-->
  <div class="panel panel-default" ng-controller="ArticleLabelCtrl">
    <div class="panel-heading">
      <h3 class="panel-title">标签</h3>
    </div>
    <div class="panel-body form-inline">
      <div class="form-group">
        <input type="text" class="form-control input-sm" name="label" id="label" ng-model="label" maxlength="20"/>
        <button type="button" class="btn btn-info btn-sm" ng-click="addLabel()">添加</button>
      </div>

      <p class="margin-top-md">多个标签请用英文逗号（,）分开</p>

      <p class="element-list clearfix" ng-if="$parent.labelCollection.items.length>0;">
            <span class="text-info" ng-repeat="label in $parent.labelCollection.items">
              <a href="" ng-click="removeLabel(label.name)" class="fa fa-times"></a>
              {{label.name}}
            </span>
      </p>

      <p>
        <a href="" ng-click="openLabelPanel();">从常用标签中选择</a>
      </p>

      <div class="well well-sm element-list clearfix animate-show ng-hide" ng-show="showLabelPanel">
        <a href="" ng-repeat="label in labels" ng-click="addLabelFromC(label)" ng-style="label.style">{{label.name}}</a>
      </div>

    </div>
  </div>
  <!--标签 end-->

</div>
</div>
</form>