<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <!-- 兼容性问题，使用浏览器最高版本来渲染-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% include ../themes/themes.html %>

</head>
<body ng-app="hopefutureBlogApp" ng-controller="HopefutureBlogCtrl">
<% include ../views/common/header.html %>

<div ng-view></div>
<% include ../views/common/footer.html %>

<!-- build:js ../scripts/vendor-forgot.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/jquery-validation/dist/jquery.validate.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!--校验国际化 -->
<script src="../bower_components/jquery-validation/src/localization/messages_zh.js"></script>
<!-- endbuild -->

<!-- build:js ../scripts/forgot.js -->
<script src="../scripts/hopefuture/hf_validate.js"></script>
<script src="../scripts/apps/account/app-forgot.js"></script>

<script src="../scripts/services/httpInterceptor.js"></script>
<script src="../scripts/services/account/service-forgot.js"></script>

<script src="../scripts/controllers/controller-common.js"></script>
<script src="../scripts/controllers/controller-hopefuture-blog.js"></script>
<script src="../scripts/controllers/account/controller-forgot.js"></script>

<script src="../scripts/directives/account/directive-forgot.js"></script>
<!-- endbuild -->
</body>
</html>
