<div class="container form-panel">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-11">
      <h2>忘记密码</h2>

      <p>&nbsp;</p>

      <p class="text-muted">如果您忘记密码，您可以通过账户和注册邮箱找回密码。</p>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 margin-top-hg" alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
          {{alert.message}}
        </div>
      </div>
      <form ng-show="formToggle" forgot-password-validator="validator" class="form-horizontal margin-top-hg">

        <div class="form-group">
          <label class="col-sm-3 control-label" for="loginName"><i class="required">*</i> 账户</label>

          <div class="col-sm-6">
            <input type="text" ng-model="account.loginName" ng-blur="validateEmail()" required maxlength="80" name="loginName"
                   id="loginName"
                   class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" for="email"><i class="required">*</i> 注册邮箱</label>

          <div class="col-sm-6">
            <input type="email" ng-model="account.email" required="" maxlength="80" name="email" id="email"
                   class="form-control">
          </div>
        </div>

        <div class="form-group margin-top-vl">
          <div class="col-sm-offset-3 col-sm-3">
            <button class="btn btn-primary btn-block" type="submit"> 确定</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>