<div class="container form-panel">
  <div class="row">
    <h2>重置密码</h2>

    <p ng-show="!formToggle" class="ng-hide well margin-top-hg">重置密码成功！ <a ng-href="/login">请登录</a></p>

    <form ng-show="formToggle" reset-password-validator class="form-horizontal margin-top-hg">
      <div class="form-group">
        <label for="password" class="control-label col-sm-3"><i class="required">*</i> 新密码</label>

        <div class="col-sm-6">
          <input type="password" class="form-control" id="password" name="password" minlength="6" maxlength="30" required
                 ng-model="account.password" placeholder="请输入新密码" autocomplete="off"/>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword" class="control-label col-sm-3"><i class="required">*</i> 确认密码</label>

        <div class="col-sm-6">
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" minlength="6" maxlength="30" required
                 ng-model="account.confirmPassword" placeholder="请再次输入新密码" autocomplete="off"/>
        </div>
      </div>

      <div class="form-group margin-top-vl">
        <div class="col-sm-offset-3 col-sm-3">
          <button class="btn btn-primary btn-block" type="submit"> 确定</button>
        </div>
      </div>
    </form>
  </div>
</div>