<div class="container blog-container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h1>注册条款</h1>

      <h3>为什么要加入</h3>
      <ol>
        <li>可以发布新闻和博客</li>
        <li>参与博客的评论</li>
        <li>学习相关技术，提升自己</li>
        <li>分享学习心得</li>
        <li>认识更多技术牛人</li>
      </ol>

      <h3>使用规则</h3>
      <p>用户在使用该系统发布博客时，必须遵守中华人民共和国相关法律法规的规定，禁止以下行为</p>
      <ol>
        <li>散布谣言，扰乱社会秩序，破坏社会稳定的</li>
        <li>发表淫秽、色情、赌博、暴力等不良内容</li>
        <li>侮辱或者诽谤他人，侵害他人合法权利的</li>
      </ol>
    </div>
  </div>
</div>