<article class="article-list" ng-repeat="article in articles">
  <h4>
    <span class="glyphicon glyphicon-calendar"></span>
    {{article.createdDate}}
  </h4>

  <h2>
    <a ng-href="#/article/{{article._id}}">{{article.title}}</a>
  </h2>

  <section>
    <div class="article-content" ng-bind-html="article.content"></div>
    <p><a ng-href="#/article/{{article._id}}">阅读全文 »</a></p>
  </section>
  <aside class="article-meta"></aside>
</article>

<pager total-items="totalItems" ng-model="page.currentPage" items-per-page="itemsPerPage" num-pages="numPages"
       previous-text="上一页" next-text="下一页" ng-change="loadArticles()"></pager>

<!--页面加载后，滚动条滑到最上面-->
<div class="sr-only" scroll-top></div>