<div class="jumbotron">
  <div class="container text-center">
    <h1>Hope Future 博客</h1>

    <h2>开源、简洁、免费博客系统，让你书写博客更方便，更简单。</h2>

    <p class="masthead-button-links">
      <a class="btn btn-lg btn-primary" target="_blank"
         href="https://github.com/linder0209/hopefuture-blog">Hope Future 博客源码下载</a>
      <a class="btn btn-lg btn-primary" target="_blank"
         href="https://github.com/linder0209/hopefuture-blog/issues/new">意见反馈</a>
    </p>

  </div>
</div>

<div class="container blog-container">
  <h1 class="article-type-title">学习参考资料</h1>

  <div class="resource-list">
    <div class="resource-item">
      <h2>Javascript 框架</h2>

      <p class="link clearfix">
        <a target="_blank" href="http://jquery.com/" popover="目前最流行的Javascript库，拥有无数的粉丝和N多的扩展插件！"
           popover-trigger="mouseenter" popover-popup-delay="300" popover-placement="right">jQuery</a>
        <a target="_blank" href="http://angularjs.org/" popover="AngularJs是由Google团队开发的一款非常优秀的Web前端框架。
        他支持双向数据绑定、依赖注入、指令、MVC、模板等。AngularJs创新地把后台技术融入前端开发，用他开发就像写后台代码，更规范，更结构化，更可控。"
           popover-trigger="mouseenter" popover-popup-delay="300" popover-placement="right">Angular</a>
        <a target="_blank" href="http://angular-ui.github.io/bootstrap/" popover="基于Bootstrap实现的Angular UI"
           popover-trigger="mouseenter" popover-popup-delay="300" popover-placement="right">Angular UI Bootstrap</a>
        <a target="_blank" href="http://www.tinymce.com/" popover="一款富文本编辑器"
           popover-trigger="mouseenter" popover-popup-delay="300" popover-placement="right">tinyMCE</a>
      </p>
      <hr/>
    </div>

    <div class="resource-item">
      <h2>CSS 框架</h2>
      <p class="link clearfix">
        <a target="_blank" href="http://getbootstrap.com/" popover="Bootstrap 是最受欢迎的 HTML、CSS 和 JS 框架，用于开发响应式布局、移动设备优先的 WEB 项目。"
           popover-trigger="mouseenter" popover-popup-delay="300" popover-placement="right">Bootstrap</a>
        <a target="_blank" href="http://www.bootcss.com/" popover="Bootstrap 是最受欢迎的 HTML、CSS 和 JS 框架，用于开发响应式布局、移动设备优先的 WEB 项目。"
           popover-trigger="mouseenter" popover-popup-delay="300" popover-placement="right">Bootstrap 中文</a>
        <a target="_blank" href="http://semantic-ui.com" popover="UI比较漂亮的前端框架,动画效果也不错。"
           popover-trigger="mouseenter" popover-popup-delay="300" popover-placement="right">Semantic UI</a>

        <a target="_blank" href="http://fontawesome.io/" popover="目前最丰富最流行的免费字体图标库。"
           popover-trigger="mouseenter" popover-popup-delay="300" popover-placement="right">Font Awesome</a>
        <a target="_blank" href="http://lesscss.org/">Less</a>
        <a target="_blank" href="http://less.bootcss.com/">Less 中文</a>
        <a target="_blank" href="http://www.lesscss.net/">Less 中文2</a>
      </p>
      <hr/>
    </div>

    <div class="resource-item">
      <h2>Node.js 及其相关</h2>

      <p class="link clearfix">
        <a target="_blank" href="http://www.nodejs.org/">Node.js</a>
        <a target="_blank" href="https://www.npmjs.org/">npm</a>
      </p>
      <hr/>
    </div>

    <div class="resource-item">
      <h2>Web 前端管理工具</h2>

      <p class="link clearfix">
        <a target="_blank" href="http://gruntjs.com/">Grunt</a>
        <a target="_blank" href="http://bower.io/">Bower</a>
        <a target="_blank" href="http://yeoman.io/">Yeoman</a>
      </p>
      <hr/>
    </div>

    <div class="resource-item">
      <h2>数据库</h2>

      <p class="link clearfix">
        <a target="_blank" href="http://www.mongodb.org/">Mongodb</a>
        <a target="_blank" href="http://mongoosejs.com">Mongoose - Mongodb Nodejs 驱动</a>
      </p>
      <hr/>
    </div>

    <div class="resource-item">
      <h2>学习资源</h2>

      <p class="link clearfix">
        <a href="http://www.58img.com/" target="_blank" popover="一些实用的前端文章和框架。"
           popover-trigger="mouseenter" popover-popup-delay="300">Web 前端资源网</a>
        <a href="http://css.doyoe.com/" target="_blank" popover="比较全面的总结了CSS相关内容。"
           popover-trigger="mouseenter" popover-popup-delay="300">CSS参考手册</a>
      </p>
      <hr/>
    </div>
  </div>

  <p>&nbsp;</p>
  <p>如果您有好的学习参考资料想呈现到这里，请联系我。</p>

  <p>联系方式</p>

  <p>QQ群：78642932</p>

  <p>邮 箱：<a href="mailto:hopefuture_blog@126.com">hopefuture_blog@126.com</a></p>
</div>
