<div class="footer-assist"></div>
<footer class="footer">
  <div class="footer-links">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <ul class="links-item clearfix list-unstyled">
            <li class="links-item-title"><strong>技术站点</strong></li>
            <li class="links-item-content">
              <span>
                <a href="http://jquery.com/" target="_blank">jQuery</a>
              </span>
              <span>
                <a href="http://angularjs.org/" target="_blank">Angular</a>
              </span>
              <span>
                <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
              </span>
              <span>
                <a href="http://lesscss.org/" target="_blank">Less</a>
              </span>
              <span>
                <a href="http://www.nodejs.org/" target="_blank">Node.js</a>
              </span>
              <span>
                <a href="http://gruntjs.com/" target="_blank">Grunt</a>
              </span>
              <span>
                <a href="http://bower.io/" target="_blank">Bower</a>
              </span>
              <span>
                <a href="http://yeoman.io/" target="_blank">Yeoman</a>
              </span>
              <span>
                <a href="http://www.mongodb.org/" target="_blank">MongoDB</a>
              </span>
              <span>
                <a href="/reference" target="_blank">更多</a>
              </span>
            </li>
          </ul>

          <ul class="links-item clearfix list-unstyled">
            <li class="links-item-title"><strong>支持我们</strong></li>
            <li class="links-item-content">
              <span>
                <a href="https://github.com/linder0209/hopefuture-blog/issues/new" target="_blank">意见反馈</a>
              </span>
              <span>
                <a ng-href="/donate" target="_blank">爱心捐助</a>
              </span>
            </li>
          </ul>

          <ul class="links-item clearfix list-unstyled">
            <li class="links-item-title"><strong>友情链接</strong></li>
            <li class="links-item-content">
              <span>

              </span>
            </li>
          </ul>

        </div>
        <div class="col-sm-3">
          <p class="links-item-title"><strong>联系方式</strong></p>

          <p class="links-item-content">QQ群：78642932</p>

          <p class="links-item-content">E-mail：<a href="mailto:hopefuture_blog@126.com">hopefuture_blog@126.com</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container text-center">
      <div class="blog-footer-logo">Hope Future Blog 博客系统</div>

      <p>Copyright © 2014-2014 Powered by Linder </p>
    </div>
  </div>
</footer>
