<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>404错误：页面没有找到</title>
  <meta name="description" content="">
  <!-- 兼容性问题，使用浏览器最高版本来渲染-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% include ../themes/themes.html %>

</head>
<body ng-app="hopefutureBlogApp">
<% include ../views/common/header.html %>

<div class="container blog-container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h1>404错误：页面没有找到 <span>:(</span></h1>

      <p>&nbsp;</p>

      <h3>您要查找的页面没有找到或不存在</h3>

      <h3>可能由于以下原因不能找到页面</h3>

      <p>&nbsp;</p>
      <ul>
        <li>一个错误的URL地址</li>
        <li>一个过期的链接</li>
      </ul>
    </div>
  </div>
</div>
<% include ../views/common/footer.html %>

<!-- build:js ../scripts/vendor-404.js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<!-- endbuild -->

<!-- build:js ../scripts/404.js -->
<script src="../scripts/apps/app-hopefuture.js"></script>
<!-- endbuild -->
</body>
</html>
